ClusterName={{ cluster_name }}
SlurmctldHost={{ primary_controller }}
AuthType=auth/munge

ProctrackType=proctrack/linuxproc

SlurmUser=slurm
SlurmctldPort=6817
SlurmctldDebug=info
SlurmctldLogFile={{ slurm_log_dir.path }}/slurmctld.log
SlurmctldPidFile=/var/run/slurmctld.pid
StateSaveLocation={{ slurm_state_dir.path }}
SlurmdPort=6818
SlurmdDebug=info
SlurmdLogFile={{ slurm_log_dir.path }}/slurmd.log
SlurmdPidFile=/var/run/slurmd.pid
SlurmdSpoolDir={{ slurm_spool_dir.path }}
DebugFlags=CPU_Bind,gres

SwitchType=switch/none
TaskPlugin=task/affinity

InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=120
SlurmdTimeout=300
Waittime=0

SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core

UsePAM=0
MpiDefault=pmix

# COMPUTE NODES

# Temp Conf
NodeName=worker[001-{{ '%03d' % all_workers | length }}] {{ cmd_output_var }}
PartitionName=debug Nodes=ALL Default=YES MaxTime=INFINITE State=UP
